<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit message</title>
</head>
<body>
    <p>edit your chat <%= chat._id %></p><br/>
    <p>This chat was sent from <b><%= chat.from %></b> to <b><%= chat.to %></b></p><br>
  <form method="post" action="/chats/<%= chat._id %>?_method=put">
       <textarea name="message" rows="5" cols="25"><%= chat.message %></textarea><br>
       <button>Edit</button>
  </form>
</body>
</html>